.Logo {
    padding:  8px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.Logo img {
    height: 100%;
    padding-right: 10px;
}

.Logo span {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
