.ItemForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemForm input {
    width: 50%;
    margin-bottom: 10px;
}

.ItemForm button {
    background-color: #3df562;
    cursor: pointer;
    font-size: 1.0em;
    width: 50%;
}
