.ItemForm {
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    align-items: baseline;
    margin-right: 20px;
    margin-left: 10px;
}

.ItemForm input {
    width: 150px;
    height: 25px;
    margin: 3px;
    border-color: #4e82b2;
    border-radius: 5px;
}

.ItemForm button {
    background-color: #4e82b2;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.0em;
    border-radius: 5px;
}
